<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554895935803-dj78d63kgckve3082th5fjakgk2l0is2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554895935803-dj78d63kgckve3082th5fjakgk2l0is2</string>
	<key>API_KEY</key>
	<string>AIzaSyARFVu6gFWiMY_HXAaq7lfRe-rAcy9K2cM</string>
	<key>GCM_SENDER_ID</key>
	<string>554895935803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koichi.shopping-reminder</string>
	<key>PROJECT_ID</key>
	<string>shopping-reminder-74eb7</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-reminder-74eb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554895935803:ios:bb0b9cb401669efafdcf1e</string>
</dict>
</plist>